{
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-vue-jsx",
        "@babel/plugin-transform-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
