@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1554176084473');
  /* IE9 */
  src: url('iconfont.eot?t=1554176084473#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1554176084473') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554176084473#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kline-hide:before {
  content: "\e6b2";
}

.icon-kline-show:before {
  content: "\e6b3";
}

.icon-exit-full-screen:before {
  content: "\e6c1";
}

.icon-full-screen:before {
  content: "\e6c2";
}

.icon-indicator:before {
  content: "\e6d7";
}

.icon-indicator-unselected:before {
  content: "\e6d7";
}

.icon-indicator-selected:before {
  content: "\e6d7";
}
