.kline-cycle-btn {
    float: left;
    min-width: 20px;
    width: auto;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
    color: #34b9ea;
    line-height: 20px;
    font-size: 11px !important;
    border-radius: 2px;
}

.kline-btn-active {
    color: #e6e6e6;
    background: #34b9ea;
}

.tooltip-data-zh {
    font-size: 11px !important;
    position: absolute;
    left: 16.7%;
    right: 190px;
    top: 20px;
    z-index: 1;
    float: left;
    height: 33px;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.tooltip-data-en {
    font-size: 11px !important;
    position: absolute;
    left: 16.67%;
    right: 190px;
    top: 23px;
    z-index: 1;
    float: left;
    height: 33px;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.icon-kline-show {
    color: #b9cadd;
    z-index: 2;
    font-size: 11px !important;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.icon-kline-hide {
    color: #b9cadd;
    z-index: 2;
    font-size: 11px !important;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.kline-levitation-div {
    width: 300px;
    height: 60px;
    position: absolute;
    color: #ffffff;
    left: 40%;
    bottom: 2%;
    z-index: 10;
}

.kline-levitation-icon {
    line-height: 60px;
}

.kline-levitation-btn {
    float:left; 
    margin-left: 20px;
}

.icon-full-screen {
    font-size: 18px;
    color: #b9cadd;
}

.icon-full-screen:hover {
    font-size: 18px;
    color: #1bdafd;
}

.icon-exit-full-screen {
    font-size: 18px;
    color: #b9cadd;
}

.icon-exit-full-screen:hover {
    font-size: 18px;
    color: #1bdafd;
}

.tooltip-data-name {
    margin-left: 10px;
    color: #b9cadd;
}

.tooltip-data-ma5 {
    color: #ff4d71
}

.tooltip-ma5 {
    color: #ff4d71
}

.tooltip-data-ma10 {
    margin-left: 10px;
    color: #67ff7c
}

.tooltip-ma10 {
    color: #67ff7c
}

.tooltip-data-ma20 {
    margin-left: 10px;
    color: #16c5ff
}

.tooltip-ma20 {
    color: #16c5ff
}

.tooltip-data-ma30 {
    margin-left: 10px;
    color: #f6d026
}

.tooltip-ma30 {
    color: #f6d026
}

.tooltip-data-ma60 {
    margin-left: 10px;
    color: #e03bfa
}

.tooltip-ma60 {
    color: #e03bfa
}

.tooltip-data-green {
    color: #3ee99f;
}

.tooltip-data-red {
    color: #ee4b4b;
}

.full-screen-div {
    position: relative;
    display: inline-block;
}

.full-screen-div .icon-fullscreen-tooltip {
    visibility: hidden;
    width: 46px;
    height: 24px;
    background-color: #ffffff;
    color: #101010;
    text-align: center;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -23px;
    opacity: 0;
    transition: opacity 0.3s;
}

.full-screen-div .icon-fullscreen-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.full-screen-div:hover .icon-fullscreen-tooltip {
    visibility: visible;
    opacity: 1;
}

.full-screen-div .icon-fullscreen-entip {
    visibility: hidden;
    width: 68px;
    height: 24px;
    background-color: #ffffff;
    color: #101010;
    text-align: center;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -33px;
    opacity: 0;
    transition: opacity 0.3s;
}

.full-screen-div .icon-fullscreen-entip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.full-screen-div:hover .icon-fullscreen-entip {
    visibility: visible;
    opacity: 1;
}

.full-screen-div .exit-fullscreen-tooltip {
    visibility: hidden;
    width: 66px;
    height: 24px;
    background-color: #ffffff;
    color: #101010;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -31px;
    opacity: 0;
    transition: opacity 0.3s;
}

.full-screen-div .exit-fullscreen-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.full-screen-div:hover .exit-fullscreen-tooltip {
    visibility: visible;
    opacity: 1;
}

.full-screen-div .exit-fullscreen-entip {
    visibility: hidden;
    width: 45px;
    height: 24px;
    background-color: #ffffff;
    color: #101010;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    transition: opacity 0.3s;
}

.full-screen-div .exit-fullscreen-entip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.full-screen-div:hover .exit-fullscreen-entip {
    visibility: visible;
    opacity: 1;
}

.chart-div {
    float: left;
    width: 56px;
    height: 26px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.chart-btn {
    text-align: center;
    line-height: 26px;
    background: #1b2229;
    color: #b9cadd
}

.chart-btn-active {
    text-align: center;
    line-height: 26px;
    color: #ffffff;
    background: #3669a7;
}

.mobile-cycle-btn {
    float: left;
    min-width: 0.3rem;
    width: auto;
    height: 0.26rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 0.08rem;
    text-align: center;
    color: #e6e6e6;
    line-height: 0.2rem;
    font-size: 0.24rem;
    border-radius: 0.02rem;
    margin-top: 0.18rem;
}

.mobile-btn-active {
    border-bottom: 0.02rem solid #1bdafd;
    color: #1bdafd;
}

.mobile-cycle {
    float: left;
    padding: 0.14rem 0 0.17rem 0.2rem;
    cursor: pointer;
}

.mobile-cycle-time {
    padding: 0.14rem 0 0 0.2rem;
    cursor: pointer;
}

.mobile-cycle-time span {
    color: #ffffff;
    padding-top: 0.01rem;
}

.mobile-cycle span {
    color: #ffffff;
    padding-top: 0.01rem;
}

.mobile-cycle img {
    height: 0.16rem;
    margin-right: 0.1rem;
}

.mobile-tooltip-zh {
    text-align: left;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.mobile-tooltip-en {
    text-align: left;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.mobile-tooltip-en-outspread {
    text-align: right;
    font-size: 0.18rem;
    padding: 0.2rem 0 0.23rem 0.2rem;
    z-index: 1;
}

.mobile-arrow-up {
    float: right;
    margin: 0.1rem 0.15rem;
    width: 0.16rem;
    height: 0.1rem;
}

.mobile-arrow-down {
    float: right;
    margin: 0.1rem 0.15rem;
    width: 0.16rem;
    height: 0.1rem;
}

.arrow-up-en {
    float: right;
    margin: 0.06rem 0.15rem;
    width: 0.16rem;
    height: 0.1rem;
}

.arrow-down-en {
    float: right;
    margin: 0.06rem 0.15rem;
    width: 0.16rem;
    height: 0.1rem;
}

.date-time {
    margin-left: 0.1rem;
}

.time-sharing-en-data {
    text-align: left;
    font-size: 0.16rem;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.time-sharing-zh-data {
    text-align: left;
    font-size: 0.16rem;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.time-sharing-en-pc {
    position: absolute;
    text-align: left;
    line-height: 20px;
    font-size: 11px !important;
    left: 10px;
    top: 22px;
    z-index: 1;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.time-sharing-zh-pc {
    position: absolute;
    text-align: left;
    line-height: 20px;
    font-size: 11px !important;
    left: 10px;
    top: 22px;
    z-index: 1;
    -webkit-text-size-adjust:none; 
    -webkit-transform: scale(0.92, 0.92);
}

.time-sharing-en-mobile {
    text-align: left;
    font-size: 0.16rem;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.time-sharing-zh-mobile {
    text-align: left;
    font-size: 0.16rem;
    padding: 0.5rem 0.2rem 0.23rem 0.2rem;
    z-index: 1;
}

.mobile-tooltip-name {
    color: #e6e6e6;
    font: 0.16rem "Microsoft YaHei";
    margin-left: 0.1rem;
}

.mobile-tooltip-data {
    color: #e6e6e6;
    font: 0.16rem "Microsoft YaHei";
}

.mobile-tooltip-volume {
    color: #e6e6e6;
    font: 0.16rem "Microsoft YaHei";
    float: felt
}

.mobile-depthMapname {
    clear: both;
    margin-left: 20px;
    color: #e6e6e6;
    font: 0.24rem "Microsoft YaHei";
    position: relative;
}

.mobile-tooltip-data-ma5 {
    color: #ff4d71
}


.mobile-tooltip-data-ma10 {
    margin-left: 0.1rem;
    color: #67ff7c
}

.mobile-tooltip-data-ma20 {
    margin-left: 0.1rem;
    color: #16c5ff
}

.mobile-tooltip-data-ma30 {
    margin-left: 0.1rem;
    color: #f6d026
}

.mobile-tooltip-data-ma60 {
    margin-left: 0.1rem;
    color: #e03bfa
}

.mobileCycleFullScreen {
    margin-left: -0.5rem;
}

.mobile-tooltip-fullScreen-zh {
    text-align: left;
    font-size: 0.18rem;
    padding: 0.4rem 0.2rem 0.16rem 0.4rem;
    z-index: 1;
}

.mobile-tooltip-fullScreen-en {
    text-align: left;
    font-size: 0.18rem;
    padding: 0.4rem 0.2rem 0.16rem 0.4rem;
    z-index: 1;
}

.mobile-cycle-btn-fullScreen {
    float: left;
    min-width: 0.3rem;
    width: auto;
    height: 0.26rem;
    cursor: pointer;
    margin-left: 0.84rem;
    margin-top: 0.08rem;
    text-align: center;
    color: #e6e6e6;
    line-height: 0.2rem;
    font-size: 0.24rem;
    border-radius: 0.02rem;
    margin-top: 0.2rem;
}

.tooltip-ma5-fullScreen {
    color: #ff4d71;
    margin-right: 0.2rem
}

.tooltip-ma10-fullScreen {
    color: #67ff7c;
    margin-right: 0.2rem
}

.tooltip-ma20-fullScreen {
    color: #16c5ff;
    margin-right: 0.2rem
}

.tooltip-ma30-fullScreen {
    color: #f6d026;
    margin-right: 0.2rem
}

.tooltip-ma60-fullScreen {
    color: #e03bfa;
    margin-right: 0.2rem
}

.mobile-tooltip-name-fullScreen {
    color: #e6e6e6;
    font: 0.16rem "Microsoft YaHei";
    margin-left: 0.78rem;
}

.mobile-more-btn {
    float: right;
    padding-right: 0.2rem;
    color: #fff;
}

.exit-full-screen {
    position: absolute;
    z-index: 999999;
    width: 1900px;
    margin: 0px auto;
}

.exit-full-screen-btn {
    color: #e6e6e6;
    font-size: 1rem;
    width: 160px;
    text-align: center;
    border: 1px solid #ececec;
    background-color:#9c969c59;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
}