@font-face {
    font-family: 'toolbar-iconfont';
    src: url('//at.alicdn.com/t/font_616746_akwhdkxqajrlik9.eot');
    src: url('//at.alicdn.com/t/font_616746_akwhdkxqajrlik9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_616746_akwhdkxqajrlik9.woff') format('woff'), url('//at.alicdn.com/t/font_616746_akwhdkxqajrlik9.ttf') format('truetype'), url('//at.alicdn.com/t/font_616746_akwhdkxqajrlik9.svg#iconfont') format('svg');
}

.toolbar {
    width: 40px;
}

.line-width-slider {
    margin-top: -10px;
}

.toolbar-iconfont {
    font-family: "toolbar-iconfont";
    font-size: 26px;
    font-style: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.toolbar-span {
    width: 37px;
    height: 37px;
    background: #355fcf;
    margin: 20px 5px 0;
    border-radius: 8px;
    float: left;
    line-height: 37px;
    text-align: center;
    list-style: none;
}